OPENAI_API_KEY=tu_api_key_openai
OPENAI_MODEL=gpt-4.1-mini

GOOGLE_SHEETS_CREDENTIALS=credentials/google_service_account.json
GOOGLE_SHEET_ID=tu_google_sheet_id
GOOGLE_SHEET_NAME=Fase 2

GOOGLE_CALENDAR_CREDENTIALS=credentials/google_service_account.json
GOOGLE_CALENDAR_ID=tu_calendar_id

TELEGRAM_BOT_TOKEN=tu_token_telegram
TELEGRAM_ALLOWED_CHAT_ID=tu_chat_id_opcional